@media screen and (min-width:1024px){
    .card0{
        width:100%;
        height: auto;
    }
    .card1{
        width:50% ;
        height: auto;
    }
    .card2{
        width:50%%;
        height: auto;

    }
    .card3{
        width:100%%;
        height: auto;

    }
    
    
    .nav > ul{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        height:auto;
    }
    .nav > ul > li{
        font-size: 1.5rem;
        font-family: monospace;
        list-style: none;
        color: azure;
        padding: 10px;
        border-radius: 3%;
        background-color:rgb(221, 65, 252);
        display:inline-block;
    }
    /* .padre2{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: auto;
        width: 100%;
        height: 200px;
        margin:100px 40px;
        contain: content;
}     */
    .hijo,.hijo2{
        display: flex;
        flex-direction: column;
        columns: 1fr 1fr;
        padding:1rem;
    }
    .footer{
        background-color: rgb(139, 203, 255,0.8);
        width: ;
        box-sizing: border-box;
        padding: 5% 15%;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      
    }
}