*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: white;
    size: 62.5% purple;
    width: 100%;
    height: auto;

}

 body{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
     grid-template-areas: "header"
    "main"
    "footer";
}
 .header{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(254,255,207);
    flex-wrap: wrap;


}



.imagen-logo{
    height:100px;
    width: auto;
}
.imagen-100{
    width: 100%;
}
.imagen-50{
    width: 50%;
    padding: 0px;
    margin:20px 30px;
    /* border:1rem solid rgb(76, 138, 252);  */
    box-sizing: border-box;

   }
.nav{

    height:"max-content";
    border-radius: 10%;
}
.nav > ul{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-end;
    border-radius: 5%;


}
.nav > ul > li{
    font-size: 1.5rem;
    font-family: monospace;
    list-style: none;
    color: azure;
    margin: 10px;
    padding: 1px;
    border-radius:3%;
   
    display:inline-block;
}
.main{

    width: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    /* background-image: linear-gradient(to botton,pink, rgb(254,255,207)); */
}



.titulo-main{
    grid-area: "titulo";
    padding:2rem;
}

.padre{
    /* grid-area: "temporada"; */
    margin: 10px;
    box-sizing: border-box;
    padding:1px;
    display: flex;
    flex-direction: row;
    align-content: center ;
    justify-content: center;

    width: 80%;
}

.hijo{
    display: flex;
    flex-grow: 1;
    padding:1rem;
    margin:10px 10px 5px 10px;padding: 5px ; border: 0.1rem solid rgb(235, 107, 213);
    background-color: rgb(255, 217, 244);
    display: flex;
    align-content: center;
    justify-items: center;

}
.hijo2{
     
    columns:unset;
   margin: auto;
   box-sizing: border-box;
    padding:10px;
    background-color: rgb(255, 217, 244);


}


.footer-col > h2{
    text-transform: uppercase;
}

.formulario{
    margin: 20px 30px;
    border:2px solid black;
    padding: 1rem;
 background-image: linear-gradient(to top ,pink,rgb(213, 168, 255,0.8));
   font-size: 2rem black;
   display: flex;
   flex-direction: column;
   align-items: flex-start;

}
.botones{
    height:100% ;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-items: center;
    padding: 3px 20px;
}
.combos_favoritos{
   
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

 
.card-title{
 grid-area: title;
 background-color: rgb(144, 103, 182);
}
.card-content{
    grid-area: content;
    background-color: pink;
}
.card-image{
    grid-area: img;
    background-color: lightblue;
    
}

.image-card{
    border: 1px solid violet;
    height:200px;
    width: auto;
}
.image-card:hover{
    height: 400px;
    width: auto;
    transition: 3s ease all;
   } 


.preguntas {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:rgb(40, 226, 226);
    margin: 20px;
    padding:30px;
    box-sizing: border-box;
    border: 2px solid black;
}
.frecuentes{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left: 15px;
    margin: 30px;
    background-color: violet;
}
.footer{

    background-color: rgb(243, 202, 248);
    box-sizing: border-box;
    padding: 5% 15%;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    /* list-style: none; */
    flex-wrap: wrap;


}


@media screen and (max-width:480px){

    .nav > ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

    }
    
        .footer{
            background-color: blueviolet;
            box-sizing: border-box;
            padding: 5% 15%;
            color:white;
            display:flex;
            flex-direction: rox;
            justify-content: space-evenly;
            align-items: flex-start;
            list-style: none;
            flex-wrap: wrap;


    }

}
@media screen and (min-width:480px) {

    
    .footer{
        background-color: rgb(139, 203, 255,0.8);
    
        box-sizing: border-box;
        padding: 5% 15%;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: blue;
        list-style: none; 
        flex-wrap: wrap;
        
    
    }
}

@media screen and (min-width:1024px){


    .nav > ul{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height:auto;
    }
    .nav > ul > li{
        font-size: 1.5rem;
        font-family: monospace;
        list-style: none;
        color: azure;
        padding: 10px;
        border-radius: 3%;
        background-color:rgb(221, 65, 252);
        display:inline-block;
    }
    
    .hijo,.hijo2{
        display: flex;
        flex-direction: column;
        columns: 1fr 1fr;
        padding:1rem;
    }
    .footer{
        background-color: rgb(139, 203, 255,0.8);
        width: 100%;
        box-sizing: border-box;
        padding: 5% 15%;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;

    } 
}
