.contenedor{ 
    width: 100%;
    height: auto;
    margin: 2em 0.5em 2em 0.5em;
    margin-right: 2%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 0.9rem;
    display: flex;
flex-direction: row;
justify-items:end;
align-content:space-evenly;
justify-content: space-evenly ;
flex-wrap: wrap;
}