@import "./variables";

.header{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $colorlogo;
        flex-wrap: wrap;
        .imagen-logo{
            height:100px;
            width: auto;
            transition: all 3s; 
        }.imagen-logo:hover{
            height: 200px;
            width: auto;
        }
        
    }