@import "./variables";

.header{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: $colorlogo;
        flex-wrap: wrap;
        .imagen-logo{
            height:100px;
            width: auto;
        }
    }
