@import "./map-get";

.header{

        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: map-get($map: $colores, $key:celeste );
        flex-wrap: wrap;
        font-size: map-get($map: $fuentes, $key:font2 );
        .imagen-logo{
            height:100px;
            width: auto;
        }
    }
