.preguntas {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    align-content: flex-start;
    background-color:$colorcelesteroma;
    margin: 20px;
    padding:30px;
    box-sizing: border-box;
    border: 1px solid black;

    .preguntas__frecuentes{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        padding-left: 15px;
        margin: 30px;
        
    }
}