$colorlogo:rgb(254,255,207);
$colorcelesteroma:rgba(139, 203, 255, 0.8);
$mobile:"(max-width:480px)";
$tablet:"(min-width:480px) and (max-width:720px)";
$desktop:"(min-width:1024px)";
$sindeco:"none;"
