
.card{
    color:purple;
    background-color:white;
    font-family: Roboto;
    font-weight: 600;
 transition: .2s ease all;
  &:hover{
    background-color:rgba(221, 226, 255) ;
  }
  &-img-top{
    opacity: 1;
    transition: .2s ease all;
  }
  &-img-top:hover{
    opacity: 0.8;
  }
       
        &-title{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }



    }