
.card{
    color:white;
    background-color:rgb(238, 130,238,0.8) ;
    font-weight: 500;
 transition: .2s ease all;
  &:hover{
    background-color:violet ;
  }
  &-img-top{
    opacity: 1;
    transition: .2s ease all;
  }
  &-img-top:hover{
    opacity: 0.8;
  }
        &-group{
            margin: 15% 0 20% 0;
        }



    }